.aboutMe{
    height: 100vh;
    align-items: center;
    padding-top: 4rem;
    background-color: black;
    border-top: 2px solid red;

    .container{
        .sectionTitle{
            text-align: center;
            margin-bottom: 2rem;
            span{
                color: grey;
                font-size: 11px;
                letter-spacing: 3px;
                font-family: 'Jost', sans-serif;
                font-weight: 600;
            }
            h1{
                color: white;
                letter-spacing: 4px;
                font-size: 50px;
                font-family: 'Bebas Neue', cursive;
            }
        }
    }

    .row{
        #forPhoto{
            filter: brightness(70%);
            img{
                max-width: 75%;
                border: 2px solid red;
            }
        }
        #forAbout{
            p{
                color: white;
                letter-spacing: 2px;
                font-family: 'Bebas Neue', cursive;
            }
            .foreducation{
                h2{
                    color: red;
                    letter-spacing: 2px;
                    font-family: 'Bebas Neue', cursive;
                }
                .myeducation{
                    border-left: 1px solid red;
                    padding-left: 1rem;
                    :last-child{
                        color: red;
                        margin-top: -1rem;
                    }
                    h4{
                    color: white;
                    letter-spacing: 2px;
                    font-family: 'Bebas Neue', cursive;
                    display: inline-block;
                    background-color: red;
                    }
                    p{
                    color: white;
                    letter-spacing: 2px;
                    }
                }
            }
        }
    }
}