* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

.hero {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
}
.hero .sideaccount {
  display: inline-block;
  margin-left: 4rem;
  margin-right: -4rem;
  height: 180px;
}
.hero .sideaccount a {
  text-decoration: none;
  display: block;
  margin-top: 1.6rem;
}
.hero .sideaccount a i {
  color: white;
  font-size: 23px;
  transition: 0.6s;
}
.hero .sideaccount a:hover i {
  transition-duration: 0.6s;
  color: red;
  transform: translateX(10px);
}
.hero .forhero {
  text-align: center;
}
.hero .forhero span {
  color: grey;
  font-size: 11px;
  letter-spacing: 3px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.hero .forhero h1 {
  color: white;
  letter-spacing: 2px;
  font-family: "Bebas Neue", cursive;
  margin-top: 1rem;
}
.hero .forhero #underline {
  color: red;
  letter-spacing: 2px;
  text-decoration: line-through;
  margin-top: -1rem;
}

.myWork {
  height: 100vh;
  align-items: center;
  padding-top: 4rem;
  background-color: black;
  border-top: 2px solid red;
}
.myWork .container .sectionTitle {
  text-align: center;
  margin-bottom: 9rem;
}
.myWork .container .sectionTitle span {
  color: grey;
  font-size: 11px;
  letter-spacing: 3px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.myWork .container .sectionTitle h1 {
  color: white;
  letter-spacing: 4px;
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
}
.myWork .container .row {
  justify-content: space-around;
}
.myWork .container .row #forCard {
  border: 1px solid red;
  width: 20rem;
  height: 15rem;
  border-radius: 10px;
  transition: 1s;
  text-align: center;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.myWork .container .row #forCard h3 {
  color: red;
  letter-spacing: 2px;
  font-family: "Bebas Neue", cursive;
}
.myWork .container .row #forCard p {
  color: white;
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive;
}

.aboutMe {
  height: 100vh;
  align-items: center;
  padding-top: 4rem;
  background-color: black;
  border-top: 2px solid red;
}
.aboutMe .container .sectionTitle {
  text-align: center;
  margin-bottom: 2rem;
}
.aboutMe .container .sectionTitle span {
  color: grey;
  font-size: 11px;
  letter-spacing: 3px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}
.aboutMe .container .sectionTitle h1 {
  color: white;
  letter-spacing: 4px;
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
}
.aboutMe .row #forPhoto img {
  max-width: 75%;
  border: 2px solid red;
}
.aboutMe .row #forAbout p {
  color: white;
  letter-spacing: 2px;
  font-family: "Bebas Neue", cursive;
}

footer {
  height: 30vh;
  align-items: center;
  padding-top: 4rem;
  background-color: black;
  border-top: 2px solid red;
}
footer .container {
  margin-bottom: 4rem;
}
footer .container .row {
  text-align: center;
}
footer .container .row #contact {
  text-align: center;
}
footer .container .row #contact h5 {
  letter-spacing: 2px;
  font-family: "Bebas Neue", cursive;
  color: white;
}
footer .container .row #contact span {
  color: red;
  letter-spacing: 2px;
  font-family: "Jost", sans-serif;
}
footer .forEnd {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
footer .forEnd .copyright {
  display: inline-block;
}
footer .forEnd .copyright span {
  color: white;
  letter-spacing: 2px;
  font-family: "Bebas Neue", cursive;
}
footer .forEnd .socialMedia {
  display: inline-block;
}
footer .forEnd .socialMedia a {
  text-decoration: none;
}
footer .forEnd .socialMedia a i {
  color: white;
  font-size: 20px;
  margin-right: 1rem;
  transition: all 0.5s;
}
footer .forEnd .socialMedia a i:hover {
  color: red;
  transition-duration: 0.5s;
}/*# sourceMappingURL=main.css.map */